<footer>
	<h5> Nicholas Boutte </h5>
	
	<hr>

	<a href="https://github.com/Nic510"> 
		<img class="link-icons" src ="/images/github-thumbnail.jpg">
	</a>
	
	<a href="www.linkedin.com/in/nicboutte/en"> 
		<img class="link-icons" src ="/images/linkedin-thumbnail.jpg">
	</a>
</footer>